FORMAT: 1A
HOST: http://api.meamedica.nl/

# meamedica API for dental practices

This is an API to define and disclose methods to interact with medical data related with dentistry. This API will be updated and developed whenever necessary and the first release includes a few core management methods which enable the creation of a practice with a set of dentists and also the patients that are currently treated by that practice. There is also a convenience method to get overview information about a given patient.

Although public, this API prototype was developed and made available by **[Insight Pharma Services BV](http://www.insightpharma.nl)**. Any questions or comments can be sent to the contacts available at our site. Absolutely nothing is granted by the direct or indirect use of the content hereby described. 

# Group API Description

## Practice Management  [/practice]

### Create a new Practice with Dentists [POST]

Action to create a new dental practice by assigning the practice data from the client to the one in our model. The response will contain a Result value (-1 in case of error or the practice AGB Code in case of success) and an array of Messages which have details about the errors that occurred.

+ Request (application/json)

        {
            "AgbCode": "string",
            "Name": "string",
            "Address": "string",
            "PostalCode": "string",
            "City": "string",
            "Email": "string",
            "NumberOfPatients": 0,
            "Dentists": [
                {
                  "BigNumber": "string",
                  "AgbCode": "string",
                  "Initials": "string",
                  "LastName": "string",
                  "Specialty": "string",
                  "Email": "string"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "Result": "string",
            "Messages": [
                "string"
            ]
        }

## Patient Management  [/patient]

### Create a new Patient [POST]

Action to create a new patient.

+ Request (application/json)

        {
            "PracticeAgbCode": "string",
            "CareProfessionialAgbCode": "string",
            "Patients": [
                {
                  "PatientId": "string",
                  "Gender": "string",
                  "Birthdate": "string",
                  "Height": "string",
                  "Weight": "string"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "Result": "string",
            "Messages": [
                "string"
            ],
            "PracticeAgbCode": "string",
            "Patients": [
                {
                  "PatientId": "string",
                  "ActivationUrl": "string"
                }
            ]
        }

### Get an overview of a Patient [GET]

Action to get information about an existing Patient.

+ Request (application/json)

        {
            "PracticeAgbCode": "string",
            "CareProfessionialAgbCode": "string",
            "PatientId": "string"
        }

+ Response 200 (application/json)

        {
            "Result": "string",
            "AgbCode": "string",
            "PatientId": "string",
            "AsaScore": "string",
            "NrOfMedicines": "string",
            "NrOfMtiMessages": "string",
            "InformationDate": "string"
        }

# Group Technical Reference

Just as a background detail this API documentation was done usign Apiary and (some of) the resources 

#### API Blueprint Tutorial
Check https://apiary.io/blueprint for a quick tutorial.

#### API Examples
Check https://github.com/apiaryio/api-blueprint/tree/master/examples for examples.

#### API Blueprint 
Check https://apiblueprint.org/ for detailed technical information.
