FORMAT: 1A
HOST: http://api.meamedica.nl/

# Dental Practice API

## Scope

This is an API to define and disclose methods to interact with medical data related with dentistry. This API will be updated and developed whenever necessary and the first release includes a few core management methods which enable:
 - the creation of a practice with a set of dentists
 - the addition of the patients that are currently treated by that practice
 - the loading of overview information about a given patient

## Ownership

Although public, this API prototype was developed and made available by **[Insight Pharma Services BV](http://www.insightpharma.nl)**. Any questions or comments can be sent to the contacts available at our site. Absolutely nothing is granted by the direct or indirect use of the content hereby described. 

## Version History

**v1.0.280915** - Includes 3 methods (create practice/dentists, create patient, load patient overview)

# Group API Description

## Practice Management  [/practice]

### Create a new Practice with Dentists [POST]

This method can be used to create a new dental practice with a set of dentists. It expects to receive data about the practice and also about the dentists that work in the practice.
The request should then contain:
 - About the practice
   - AGB code
   - Name
   - Address
   - Postal code
   - City
   - Email
   - Number of patients
 - About the dentists (a list of) 
   - BIG number
   - AGB code
   - Initials
   - Last name
   - Specialty
   - Email

The response will contain:
 - a Result value 
   - `OK` in case of success or a `message` otherwise 
 - a Messages list 
   - the practice `AGB code` in case of success or a list of the `errors` that occurred

**Usage:** `POST` to *https://api.meamedica.nl/practice*

+ Request (application/json)

        {
            "AgbCode": "string",
            "Name": "string",
            "Address": "string",
            "PostalCode": "string",
            "City": "string",
            "Email": "string",
            "NumberOfPatients": 0,
            "Dentists": [
                {
                  "BigNumber": "string",
                  "AgbCode": "string",
                  "Initials": "string",
                  "LastName": "string",
                  "Specialty": "string",
                  "Email": "string"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "Result": "string",
            "Messages": [
                "string"
            ]
        }

## Patient Management  [/patient]

### Create new Patients for a Practice [POST]

This method can be used to create one or more patients for a given practice. It expects to receive data about the patients and about the practice were they are registered as well as the dentist that they are assigned to.
The request should then contain:
 - About the practice and dentist
   - AGB code from the practice
 - About the patients (a list of) 
   - Patient ID (in the client system)
   - AGB code (from the assigned dentist)
   - Gender
   - Birthdate
   - Height
   - Weight

The response will contain:
 - a Result value 
   - `OK` in case of success or a `message` otherwise 
 - a Messages list 
   - the practice `AGB code` in case of success or a list of the `errors` that occurred

**Usage:** `POST` to *https://api.meamedica.nl/patient*

+ Request (application/json)

        {
            "PracticeAgbCode": "string",
            "CareProfessionialAgbCode": "string",
            "Patients": [
                {
                  "PatientId": "string",
                  "Gender": "string",
                  "Birthdate": "string",
                  "Height": "string",
                  "Weight": "string"
                }
            ]
        }

+ Response 200 (application/json)

        {
            "Result": "string",
            "Messages": [
                "string"
            ],
            "PracticeAgbCode": "string",
            "Patients": [
                {
                  "PatientId": "string",
                  "ActivationUrl": "string"
                }
            ]
        }

### Load overview information about a Patient [GET]

Action to get information about an existing Patient.

+ Request (application/json)

        {
            "PracticeAgbCode": "string",
            "CareProfessionialAgbCode": "string",
            "PatientId": "string"
        }

+ Response 200 (application/json)

        {
            "Result": "string",
            "AgbCode": "string",
            "PatientId": "string",
            "AsaScore": "string",
            "NrOfMedicines": "string",
            "NrOfMtiMessages": "string",
            "InformationDate": "string"
        }

# Group Technical Reference

Just as a background note this API documentation was done usign [Apiary](https://apiary.io) and (some of) the resources used to describe this API can be found in the following URLs:
 - **API Blueprint Tutorial** : https://apiary.io/blueprint
 - **API Examples** : https://github.com/apiaryio/api-blueprint/tree/master/examples
 - **API Blueprint** : https://apiblueprint.org/ (detailed technical information)
